
<div class="card">
  <div class="card-header text-white bg-dark">
    <div class="row">
    <div class="col">
     <i class="h4">Welcome <strong>{{name}}</strong></i>
    </div>
    <div class="col col-lg-2">
      <p class="btn-block btn btn-secondary h1">Percentage: {{t_stat}}%</p>
    </div>
    <div class="col col-lg-2">
      <form action="/profile/history/submit" method="GET">
      <button type="submit" name="account" value={{id}} class="btn btn-primary btn-block">
      History
      </button>
      </form>
    </div>
    <div class="col col-lg-2">
      <button class="btn btn-primary btn-block"><a class="text-white" href="/auth/logout">Logout</a></button>
      </form>
    </div>
  </div>
  </div>

   <div class="card-body container">
    <div class="row ">
     <div class="col text-center ">
       <h3 class="card-title">Select a category first</h3>
        <form action="/profile/questions/submit" method="GET">
         <input type="hidden" name="user" value={{id}}>
         {{#each categories}}
         <button class="btn btn-secondary btn-lg btn-block" type="submit" name="category" value={{this}}>{{ this }}</button>
         {{/each}}
         <button class="btn btn-secondary btn-lg btn-block" type="submit" name="category" value="random">Random</button>
        </form>    
     </div>
    </div>
   </div>
  
 
</div>

  
<script>
    
</script>